#button{
    color: darkblue;
    background-color: bisque;
}
.s1{
    color: brown;
   background-color: blue;
   }
.step2{
    color: brown;
    background-color: blue;
}
.step3{
    color: brown;
    background-color: blue;
}